@model AddPostViewModel

@{
    ViewData["Title"] = "Add Post";
}

<h1> Add New Post</h1>
<partial name="_MessagePartial"/>
<br/>
@* asp-controller="Category" asp-action="" *@
<div class="row">
    <div class="md-offset-2"></div>
    <div class="col-md-6">
        @* <form asp-controller="Category"> *@
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control"/>
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagIds" class="control-label"></label>
                <select asp-for="TagIds" asp-items="Model.Tags" class="form-control"></select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary form-control" value="Post It"/>
            </div>
        </form>
        @* </form> *@
    </div>
</div>
@* <a asp-action="Index"> All Categories</a> *@
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
