@model IList<Blog.Models.Post>

@{
    // Layout = null;
    ViewData["Title"] = "blog list";
}

<h1>Categories List</h1>
<partial name="_MessagePartial"/>
<p class="text-right">
    <a asp-controller="Category" asp-action="Create" > Add New Category</a>
</p>

@foreach (var t in Model)
{
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2> @t.Title </h2>
            <h6> published: @t.CreatedAt </h6>
            <p>@t.Body</p>
            <p>@t.Body.Substring(0, t.Body.Length >= 300 ? 300 : t.Body.Length) @if (t.Body.Length > 300){<span> ... </span>}</p>
            @* <a href="{{ route('blog.single', $post->slug) }}" class="btn btn-primary">read more</a> *@
            <hr>
        </div>
    </div>
}