@model Blog.Models.Category

@{
    ViewData["Title"] = "Add Category";
}

<h1> Add New Category</h1>
<partial name="_MessagePartial"/>
<br/>
@* asp-controller="Category" asp-action="" *@
<div class="row">
    <div class="col-md-4">
        @* <form asp-controller="Category"> *@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-primary"/>
        </div>
        </form>
        @* </form> *@
    </div>    
</div>
<a asp-action="Index"> All Categories</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
